<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<table class="table table-dark table-striped-columns" *ngIf="!loading">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Monto minimo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody *ngFor="let fondo of fondos let i = index">        
      <tr class="table-success text-dark">
        <td>{{fondo.nombre}}</td>
        <td>{{fondo.montoMinimo}}</td>
        <td>{{fondo.categoria}}</td>
        <td><button *ngIf="fondo.id" (click)="editFondo(fondo.id)" class="btn btn-warning">Editar</button></td>
      </tr>       
    </tbody>
  </table>
