.temp.ng-valid:not(form){
    background:#d4edda;
    transform: translate(3em,0);
    transition: 1s ease-in-out;
}
.atention{
    margin-top: 2%;
}

.title{
    text-align: center;
}

.alert{
    margin-top: 2%;
}